// main: ./xiple-cv-2017.scss

.clipimg {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.thumbimg {
    box-shadow: -8px 8px 0 0 $navy-med;
    width:100%;
}

#tb-tabs-final-video {
  width:100%;
}
