// main: ./xiple-cv-2017.scss
// Type

html {
  font-size: 18px;
}
body {
  // font-family: 'Nunito', sans-serif;

  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  font-family: Nunito;
  font-weight: 300;
  color: #322A33;
  line-height: 1.75rem;

  overflow-x:hidden;
}

h1,h2,h3,h4,h5 {
}

.display {
  /* Display: */
  font-weight: 200;
  font-size: 4rem;
  color: #000000;
  line-height: 5rem;
}

@media screen and (max-width: 800px) {
  .display {
    font-size:3rem;
    line-height:4rem;
  }
}
@media screen and (max-width: 600px) {
  .display {
    font-size:2rem;
    line-height:3rem;
  }
}

h1 {
  /* Heading 1: */
  font-weight: 700;
  font-size: 2.5rem;
  color: #000000;
  line-height: 3.5rem;
}

h2 {
  /* Heading 2: */
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
  line-height: 3rem;
}

h3 {/* Heading 3: */
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000;
  line-height: 2rem;
}

small {
  /* Footnote: */
  font-family: Nunito;
  font-weight: 300;
  font-size: 0.75rem;
  color: #6F6F77;
  line-height: 1.5rem;
}

a {
  /* Link - inline: */
  font-family: Nunito;
  font-weight: 300;
  color: $coral-med;
  text-decoration:underline;
}
a:hover {
  color:$coral-dark;
}

a.action {
  text-transform: uppercase;
  text-decoration: none;
}

blockquote {
  /* Mauris et erat posue: */
  font-weight: 200;
  font-size: 3rem;
  line-height:2.3rem;
  color: #000000;
}

dt {
  font-weight:500;
}
