// sass main

@import "./xiple-cv-2017.vars.scss";
@import "./xiple-cv-2017.grids.scss";
@import "./xiple-cv-2017.type.scss";


.now {
  width:58px;
  text-align:center;
}

.job-item {
  position:relative;
  padding:1em 0;
}
.job-item:hover {
  background-color:#EDF1F4;
  cursor:pointer;
}

.job-item:before {
  content:" ";
  display:block;
  position:absolute;
  left:26px;
  top:0px;
  height:100%;
  width:6px;
  background-color:#000;

}

.job-item:hover:after {
  content:" ";
  position:absolute;
  bottom:-22px;
  right:50%;
  display:block;
  width:40px;
  height:40px;
  border-radius:100%;

  background:url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRDVEOUUwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNNy40MSA3Ljg0TDEyIDEyLjQybDQuNTktNC41OEwxOCA5LjI1bC02IDYtNi02eiIvPg0KICAgIDxwYXRoIGQ9Ik0wLS43NWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPg0KPC9zdmc+");
  background-size: 32px;
  background-position: 4px 6px;
  background-color: #EDF1F4;
}
.job-item-verbose:hover:after {
  transform:rotate(180deg);
}

.job-verbose { display:none; }
.job-item-verbose .job-verbose { display:block;}

.job-start-date {
  display:block;
}
.job-start-date:before {
  content:" ";
  display:inline-block;
  background-color:#C8DCEB;
  border:6px solid #fff;
  width:.75em;
  height:.75em;
  border-radius:100%;
  position:absolute;
  left: 16px;
}

// Navigation
