// main: ./xiple-cv-2017.scss

$grey-7 : #FAFAFA;
$grey-6 : #EDF1F4;
$grey-5 : #D5D9E0;
$grey-4 : #A0A0AA;
$grey-3 : #6F6F77;
$grey-2 : #322A33;
$black : #000;

// powder blue
$blue-dark : #C8DCEB;
$blue-med : #E2F2FE;
$blue-light: #F6FBFE;

// darkish navy
$navy-dark : #2F405E;
$navy-med : #6D798E;
$navy-light : #C0C5CE;

// cheeky coral
$coral-dark : #F55F40;
$coral-med : #F88F79;
$coral-light : #FCCFC5;

// healthy orange
$orange-dark : #F38800;
$orange-med : #F9C37F;
$orange-light : #FBDBB2;

// fresh green
$green-dark : #BFDF81;
$green-med : #E1F0C4;
$green-light : #F0F7E1;
